[Unit]
Description=gunicorn daemon
After=network.target
[Service]
User=Revanth
Group=www-data
WorkingDirectory=/home/Revanth/Chatapplication/chatapplication
ExecStart=/home/Revanth/Chatapplication/chatenv/bin/gunicorn --workers 3 --bind unix:/home/Revanth/Chatapplication/chatapplication/chatapp.sock chatapp.wsgi:application


[Install]
WantedBy=multi-user.target


